// <!-- 課程 -->
.cldtl__course {
    border: transparent;
    border-radius: 24px;
    overflow: hidden;
}

// <!-- 老師介紹 -->
.cldtl__teacher {
    &__body {
        border: transparent;
        border-radius: 24px;
        overflow: hidden;
    }
}

// <!-- 課程簡介 -->
.cldtl__intr {
    &__body {
        border: transparent;
        border-radius: 24px;
        overflow: hidden;
    }

    li {
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: $primary;
            position: absolute;
            top: 50%;
            left: -13px;
        }

    }
}

.left-vline {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: -8px;

    }
}

// <!-- 價格，堂數 -->
.clsdtl__price {
    &__blk {
        width: 10px;
        height: 10px;
        background: white;
    }
}