// === banner ===
.home__banner {
  &__bg {
    background-image: url('../images/bg_home_mobile.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 336px;

    @include media-breakpoint-up(lg) {
      background-image: url('../images/bg_home.jpg');
      height: 535px;
    }
  }

  &__grid {
    padding: 32px 28px;
    outline: 1px solid white;

    @include media-breakpoint-up(md) {
      padding: 52px 85px;

    }
  }

  &__block {
    width: 10px;
    height: 10px;
    background: white;
  }
}

.text-gradient {
  background: linear-gradient(180deg, $secondary, $primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// === feature ===
.underline-500:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background-color: $primary;

  @include media-breakpoint-up(lg) {
    left: 0;
    transform: translate(0, 0);
  }
}

.home__feature {

  &__body {
    background-color: $dark-2d;
    border: 1px solid $dark-2d;
    border-radius: 12px;


    &:hover {
      border-color: $primary;
      background-color: $dark-20;
    }
  }

  &__icon-50 {
    font-size: 50px;
  }

  &__icon-r90 {
    transform: rotate(90deg);
  }
}

// === 上課流程 ===
.flow__underline-500:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translate(-50%, 0);
  width: 50px;
  height: 3px;
  background-color: $primary;

  @include media-breakpoint-up(lg) {
    left: 50%;
    transform: translate(-50%, 0);
  }
}


@for $i from 1 through 4 {
  .home__flow--#{$i} {
    position: relative;
    border-radius: 12px;
  }

  .home__flow--#{$i}::after {
    @include make-num('0#{$i}');
  }
}

// === 程式課程 ===
.home__course__btn {
  border: 1px solid white;
  @include border-radius(8px);

  padding: 16px;

  @include media-breakpoint-up(lg) {
    padding: 24px 32px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
  }
}

.myCourseSwiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    background: $dark;
    flex-shrink: 1;
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

}


// === 推薦課程 ===
.home__hot {
  border: 3px solid $dark-2d;
  border-radius: 24px;

  &:hover {
    border: 3px solid $primary;
  }

  &__photo {
    width: 100px;
    height: 100px;
  }

  &__btn_gradient {
    background: linear-gradient(104deg, $secondary, $primary);
    font-size: 18px;
    line-height: 1.5;
    border-radius: 0.5rem;
    border: transparent;
    padding: 0.5rem 2rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

// === 對症下藥 === great
.home__great {

  &__subtitle {
    opacity: 0.8;
  }

  &__box {
    @include media-breakpoint-up(lg) {

      opacity: 0.1;

      &.bg {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 615px;


        &-1 {
          background-image: url('../images/info01.jpg');
        }

        &-2 {
          background-image: url('../images/info02.jpg');
        }

        &-3 {
          background-image: url('../images/info03.jpg');
        }

        &-4 {
          background-image: url('../images/info04.jpg');
        }
      }

    }

    .material-icons {
      color: $primary;
    }

    .underline-500:before {
      background-color: $primary;
    }

    &:hover {
      opacity: .88;

      .material-icons {
        color: $primary;
      }

      .underline-500:before {
        background-color: $primary;
      }
    }

    @include media-breakpoint-up(lg) {
      .material-icons {
        color: white;
      }

      .underline-500:before {
        background-color: white;
      }

      &:hover {
        .material-icons {
          color: $primary;
        }

        .underline-500:before {
          background-color: $primary;
        }
      }
    }
  }


}

// === 文章分享 === article
.home__article {
  &__corners {
    display: none;
  }
}

.home__article:hover .home__article__corners {
  display: block;
}

.blk {
  width: 32px;
  height: 32px;
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
  border-top-left-radius: 10px;

  &-r90 {
    transform: rotate(90deg);
  }

  &-r180 {
    transform: rotate(180deg);

  }

  &-r270 {
    transform: rotate(270deg);
  }
}

// === 專屬你的學習課程 == review
.home__review {

  @include media-breakpoint-up(lg) {

    background-image: url('../images/bg_share.jpg');

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 733px;
    // width: 100%;
    // height: 100%;

  }

  &__image {

    position: relative;

    @include media-breakpoint-up(lg) {
      width: 60%;
    }

    img {
      width: 98%;
      border: transparent;
      border-radius: 24px;
      position: relative;
      top: 0px;
      left: 2px;
    }

    &::after {
      content: '';
      width: 98%;
      height: 100%;
      border: 1px solid $gray-7c;
      border-radius: 24px;

      position: absolute;
      bottom: -5px;
      left: 0px;
      z-index: -1;
    }
  }

  &__student {
    position: relative;

    background: white;

    border-radius: 24px 24px 24px 0;

    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 50%;
      right: 36px;
      bottom: 0;
    }

    &__photo {
      width: 80px;
      height: 80px;
      position: absolute;
      right: 24px;
      top: 0;
      transform: translateY(-50%);
    }
  }

  &__controller {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    z-index: 10;

    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 20px;
      left: 20%;
    }
  }
}

.myReviewSwiper {
  width: 100%;
  height: 100%;

  .review-swiper-pagination {
    width: unset;
  }

  .swiper-pagination-bullet {
    background-color: $primary;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 1em;
    background-color: $primary;
    border-radius: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

// == 加入我們成為導師 === join
.home__join {
  background-color: $dark-20;

  @include media-breakpoint-up(lg) {
    background-color: black;
  }

  &__body {
    @include media-breakpoint-up(lg) {
      background-color: $dark-20;
    }
  }

  &__book {
    font-size: 80px;
  }

  &__btn {
    border-color: white;
    border-radius: 8px;
  }

}