<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-border">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand " href="#">
        <img class="nav-logo" src="assets/images/logo.svg" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">課程介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#" aria-disabled="true">
              <span class="material-icons">
                account_circle
              </span>
              登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p class="fs-2 lh-xs">aaaLorem ipsbbum dolor sit ambbaaaaat.</p>
  <span class="material-icons">
    account_circle
  </span>
  <span class="material-icons-outlined">
    account_circle
  </span>
  <span class="material-icons-round">
    account_circle
  </span>

  <%- contents %>

    <!-- footer -->
    <footer class="container-fluid bg-dark-1a">
      <p class="py-4 text-center text-gray-90">Coding Home © 2022 All Rights Reserved</p>
    </footer>



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>